body{
    color: rgb(0, 255, 136);
    background-color: rgb(85, 90, 105);
}

.mitrabajo{
    background-color: rgb(140, 196, 196);
    color: rgb(101, 126, 158);
    border-radius: 20;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 200px;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #218838;
}

.card:hover {
    transform: scale(1.05);
}






.menu {
    background-color: #333;
    padding: 10px 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #575757;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; /* Alineación justo debajo del menú padre */
    left: 0;
    background-color: #444;
    padding: 10px 0;
    border-radius: 4px;
    z-index: 1;
}

.submenu li {
    width: 150px; /* Ancho de los elementos del submenú */
}

.menu li:hover .submenu {
    display: block; /* Muestra el submenú al pasar el cursor */
    animation: fadeIn 0.3s ease; /* Añade animación */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submenu a {
    color: white;
    padding: 10px 15px;
    display: block; /* Hace que el área clicable sea toda la fila */
    transition: background-color 0.3s;
}

.submenu a:hover {
    background-color: #575757;
}